{#
 Use Bolt's _page-nav.twig and extend it to build our backend page:
#}

{##
 # HTML page template for pages with navigation
 #
 # Blocks: page_nav:      Navigation path, like: "Dashboard", "Settings/Configuration", "Content/*", ...
 #         page_main:     content
 #         page_title:    used as html title
 #         page_subtitle: used as html title (optional)
 #         page_script:   script added after the body tag (script tags needed!)
 #}
{% extends '_base/_page-nav.twig' %}
{% from '@bolt/_buic/_moment.twig' import buic_moment %}



{% block page_title __("BetterThumbs Files") %}

{% block page_main %}
<div id="boltPath" data-bolt-path="{{ bthumbsRoute }}"  class="row">
    {% if cachedImage %}
        <div class="col-xs-12 col-md-6">
            <h1 class="heading">Delete All Images</h1>
            <p>
                This will remove all images from the BetterThumbs Cache
            </p>
            <button type="button" data-all="{{ allFiles }}"
                    class="btn btn-primary delete-all">Delete All Images
            </button>
        </div>
    {% endif %}
    <div class="col-xs-12 col-md-6">
        <h1 class="heading">Prime The Image Cache</h1>
        <p>
            This will "prime" (create images) and place them in the cache.
        </p>

        <a href="{{ path("betterthumbs_prime") }}">Go To The Prime Cache Page</a>
    </div>
    {% if cachedImage %}
        <hr>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">Delete An Image From Cache</h1>
                <p>
                    These Images are in your BetterThumbs Cache.
                </p>
            </div>
        </div>



        <div id="image-grid" class="row">
            <div class="betterthumbs-block-grid">


                {% for key, value in cachedImage %}
                    <div id="cachedImage-{{ loop.index }}" class="betterthumbs-block-grid-item image-container" >
                        <div class=" betterthumbs-card ">

                            <div id="container" class="img-container">
                                <img id="{{ key }}-{{ loop.index }}"
                                     class="image-to-delete lazy"
                                     data-src="/files/{{ key }}"
                                     alt="{{ value.name }}">
                            </div>
                            <div class="betterthumbs-card-section">
                                <ul class="betterthumbs-card-list">
                                    <li class="cached-image-name">
                                        <strong>Name: </strong> {{ value.name }}
                                    </li>
                                </ul>
                                <button class="btn btn-primary deletebutton"
                                        type="button"
                                        id="{{ value.path }}">
                                    Delete Image
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">No Images Found In The Better Thumbs Cache...</h1>
            </div>
        </div>
    {% endif %}

{% endblock page_main %}

{% block page_script %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new IOlazy({
                image: '.lazy'
            });
        });
    </script>
{% endblock page_script %}
