
{% extends './base.betterthumbs.html.twig' %}
{% set betterthumbsTitle = 'BetterThumbs Files' %}

{% block bodyContent %}

    <div class="ext-docs-grid-container">
    {% if cachedImage %}
        <div class="medium-6 column column-blocks">
            <h1 class="heading">Delete All Images</h1>
            <p>
                This will remove all images from the BetterThumbs Cache
            </p>
            <button type="button" data-all="{{ allFiles }}"
                    class="button delete-all">Delete All Images
            </button>
        </div>
    {% endif %}
    <div class="small-12 medium-6 column column-blocks">
        <h1 class="heading">Prime The Image Cache</h1>
        <p>
            This will "prime" (create images) and place them in the cache.
        </p>

        <a href="{{ path("betterthumbs_prime") }}">Go To The Prime Cache Page</a>
    </div>
    {% if cachedImage %}
        </div>

        <div class="ext-docs-grid-container">
        <div class="small-12 columns">
            <h1 class="heading">Delete An Image From Cache</h1>
        </div>

        <div id="image-grid" class="small-up-1 medium-up-2 large-up-3">
            {% for key, value in cachedImage %}
                <div id="cachedImage-{{ loop.index }}" class="column column-block image-container">
                    <div class="betterthumbs-card">
                        <div id="container" class="img-container">
                            <img id="{{ key }}-{{ loop.index }}"
                                 class="image-to-delete"
                                 src="/files/{{ key }}"
                                 alt="{{ value.name }}">
                        </div>
                        <div class="betterthumbs-card-section">
                            <ul class="betterthumbs-card-list">
                                <li class="cached-image-name">
                                    <strong>Name: </strong> {{ value.name }}
                                </li>
                            </ul>
                            <button class="button deletebutton"
                                    type="button"
                                    id="{{ value.path }}">
                                Delete Image
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- /#image-grid .small-up-1 -->
    {% else %}
        <div class="small-12 columns">
            <h1 class="heading">No Images Found In The Better Thumbs Cache...</h1>
        </div>
    {% endif %}
    </div><!-- /.ext-docs-grid-container -->
{% endblock bodyContent %}