{% extends '_base/_page-nav.twig' %}
{% from '@bolt/_buic/_moment.twig' import buic_moment %}



{% block page_title __("BetterThumbs Prime The Cache") %}

{% block page_main %}
    <div id="boltPath" data-betterthumbs-path="{{ path('betterthumbs_doPrime') }}" class="row">
        <div class="col-xs-12 col-md-6">
            <h1 class="heading">Prime The Image Cache</h1>
            <p>
                Here you can "prime" your image cache. All the images located in your <code>Files</code> directory can be found here. Select the image you wish to pre-generate and a config setting. Then press the "create" button associated with it.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h1 class="heading"><a href="{{ path( "betterthumbs_files" ) }}">View Cached Files</a></h1>
        </div>
        <hr class="col-xs-12" />
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p>
                You Are Currently in: <b>{{ currentDir }}</b>
            </p>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#betterthumbs-primecache-dirs" aria-expanded="false" aria-controls="betterthumbs-primecache-dirs">
                Show Directories
            </button>
        </div>

        <div id="betterthumbs-primecache-dirs" class="col-xs-12 collapse">
            <table class="dashboardlisting">
                <thead>
                <tr>
                    <th>Directories</th>
                    <th>Sub Directories</th>
                </tr>
                </thead>
                <tbody>
                {% import '@betterthumbs/macros/backend/betterthumbs.directories.html.twig' as Dirlist %}
                {{ Dirlist.directoryList( allDirectories ) }}
                </tbody>

            </table>
        </div>
    </div>


    <div id="prime-grid" class="row betterthumbs-prime-spacer">
        {% if allFiles %}
        {% import '@betterthumbs/macros/backend/betterthumbs.prime.images.html.twig' as primeFiles %}
            {{ primeFiles.buildPrimeImage( allFiles, extConfig, singleConfig ) }}
        {% else %}
        <h1>No Images In this Directory</h1>
        {% endif %}
    </div><!-- /#prime-grid -->

{% endblock page_main %}

{% block page_script %}
    {{ parent() }}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new IOlazy({
                image: '.lazy'
            });


        $('.image-popup-fit-width').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            image: {
                verticalFit: false
            }
        });

        var cacheDirs = $("#betterthumbs-primecache-dirs");

        $( "[data-toggle]" ).on( "click", function () {

            cacheDirs.toggleClass('in');

            if (cacheDirs.hasClass('in')) {
                $(this).attr('aria-expanded', 'true');
                $(this).text('Close Directories');
            } else {
                $(this).attr('aria-expanded', 'false');
                $(this).text('Show Directories');
            }
        } );
        });
    </script>
{% endblock page_script %}