{% extends '_base/_page-nav.twig' %}
{% from '@bolt/_buic/_moment.twig' import buic_moment %}



{% block page_title __("BetterThumbs Prime The Cache") %}

{% block page_main %}
    <div id="boltPath" data-bolt-path="{{ bthumbsRoute }}" class="row">
        <div class="col-xs-12 col-md-6">
            <h1 class="heading">Prime The Image Cache</h1>
            <p>
                Here you can "prime" your image cache. All the images located in your <code>Files</code> directory can be found here. Select the image you wish to pre-generate and a config setting. Then press the "create" button associated with it.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h1 class="heading"><a href="{{ path( "betterthumbs_files" ) }}">View Cached Files</a></h1>
        </div>
    </div>


    <div id="prime-grid" class="row betterthumbs-prime-spacer">
        {% for obj, key in allFiles %}
            <div class="col-md-4">
                <div class="betterthumbs-card">
                    <div class="betterthumbs-card-divider">
                        <p>{{ key.filename }}</p>
                    </div>
                    <!-- /.betterthumbs-card-divider -->
                    <div class="img-container">
                        {% if key.mimeType != 'image/tiff' %}
                            <a href="/files/{{ key.imagePath }}"
                               class="image-popup-fit-width"
                               title="Preview: {{ key.filename }}">
                                <img data-src="/files/{{ key.imagePath }}"
                                     alt="{{ key.filename }}"
                                     id="{{ key.filename }}"
                                     class="prime-cache-img lazy">
                            </a>
                        {% else %}
                            <p style="color: #fff">Tif Images Cannot Be Displayed In a Browser</p>
                        {% endif %}
                    </div>

                    <!-- /.img-container -->
                    <div class="betterthumbs-card-section">
                        <ul class="betterthumbs-card-list">
                            <li>
                                <strong>Name:</strong> {{ key.filename }}
                            </li>
                            <li>
                                <strong>Location:</strong> {% if key.located %}{{ key.located }}{% else %}Files{% endif %}
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.betterthumbs-card -->
            </div>
            <!-- /.medium-4 columns -->

            <div class="col-md-8 prime-cache-container">
                <div class="betterthumbs-card">
                    <div class="betterthumbs-card-divider">
                        <p>Prime Cache Settings For: {{ key.filename }}</p>
                    </div>

                    <form method="POST" id="{{ key.filename }}-{{ loop.index }}">
                        <!-- extension config settings dropdown -->
                        <fieldset class="row fieldset">
                            <div class="col-md-8 columns select-container">
                                <label>Choose a Config
                                    <select class="prime-cache-dropdown form-control"
                                            id="{{ key.filename }}-{{ loop.index }}"
                                            name="{{ key.filename }}-{{ loop.index }} "
                                            aria-describedby="helptext-{{ key.filename }}-{{ loop.index }}">
                                        {% for value in extConfig %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <p id="helptext-{{ key.filename }}-{{ loop.index }}" class="help-block">
                                    choose a betterthumbs config to generate your images
                                </p>
                            </div>
                            <div class="col-md-4 columns">
                                <button class="btn btn-primary prime-cache prime-config" type="button"
                                        data-bthumb-name="{{ key.imagePath }}" >
                                    Create Config images
                                </button>
                            </div>
                        </fieldset>
                        <!-- extension config settings dropdown -->
                        <!-- preset config settings button -->
                        <fieldset class="row fieldset">
                            <div class="col-md-8 columns">
                                <p for="preset-{{ key.filename }}-{{ loop.index }}" class=" middle">Preset
                                    Settings</p>
                                <p id="helptext-preset-{{ key.filename }}-{{ loop.index }}" class="help-text">
                                    use the betterthumbs presets to generate images
                                </p>
                            </div>
                            <div class="col-md-4 columns">
                                <button type="button"
                                        class="btn btn-primary prime-cache prime-presets"
                                        data-presets="presets"
                                        id="preset-{{ key.filename }}-{{ loop.index }}"
                                        aria-describedby="helptext-preset-{{ key.filename }}-{{ loop.index }}"
                                        data-bthumb-name="{{ key.filename }}" >Use Presets</button>
                            </div>
                        </fieldset>
                        <!-- preset config settings button -->
                        <!-- Single Image config input and button -->
                        <fieldset class="row fieldset">
                            <div class="col-xs-12">
                                <label>
                                    Single Image
                                    <input list="prime-single-list"
                                           class="prime-cache-single-input form-control awesomplete"
                                           placeholder="Single Image Config Name">
                                    <datalist id="prime-single-list">
                                        {% for value in extConfig %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                    </datalist>
                                </label>
                                <p class="prime-single-error" hidden>
                                    <strong>Enter A Config Name Before Submitting</strong>
                                </p>
                                <p id="helptext-single-{{ key.filename }}-{{ loop.index }}" class="help-block">
                                    Enter the single config name you wish to use
                                </p>
                            </div>
                            <div class="col-xs-12 columns">
                                <button type="button"
                                        class=" prime-cache prime-single btn btn-primary"
                                        aria-describedby="helptext-single-{{ key.filename }}-{{ loop.index }}"
                                        data-bthumb-type="single"
                                        data-bthumb-name="{{ key.filename }}" >Create Single Image</button>
                            </div>
                        </fieldset>
                        <!-- Single Image config input and button -->
                    </form>
                </div>
            </div>
            <!-- /.mediium-8 .columns -->
            <hr class="col-xs-12" />
        {% endfor %}
    </div><!-- /#prime-grid -->

{% endblock page_main %}

{% block page_script %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new IOlazy({
                image: '.lazy'
            });
        });

        $('.image-popup-fit-width').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            image: {
                verticalFit: false
            }
        });
    </script>
{% endblock page_script %}