{% set jsUpdate = '80ad8c34'  %}
{%  set cssUpdate = "115502ea" %}

<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ betterthumbsTitle }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
    <link rel="stylesheet" href="/extensions/vendor/cdowdy/betterthumbs/css/betterthumbs.{{ cssUpdate }}.min.css">
    {% endblock css %}


    {% block js %}
    <!-- need to use a CDN since bolt uses a fragile version strategy -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script src="/extensions/vendor/cdowdy/betterthumbs/js/betterthumbs.{{ jsUpdate }}.min.js"></script>
        <script src="/extensions/vendor/cdowdy/betterthumbs/js/intersection-observer.51a7683a.js"></script>
        <script src="/extensions/vendor/cdowdy/betterthumbs/js/iolazy.min.7665ef3e.js" defer></script>
    {% endblock js %}
</head>

<body class="" data-bolt-path="{{ bthumbsRoute }}">
<header class="ext-docs-masthead ext-docs-header-container ">
    <div class="ext-docs-header-title">
        <h1><a href="{{ path('dashboard') }}">Bolt Admin</a></h1>
    </div>
    <div class="ext-docs-header-title">
        <h2>BetterThumbs Files</h2>
    </div>
</header>

<main>
    {% block bodyContent %}{% endblock bodyContent %}
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new IOlazy({
            image: '.lazy'
        });
    });
</script>
{% block footerJavascript %}{% endblock footerJavascript %}
</body>