{% set jsUpdate = 'f7c712e7'  %}
{%  set cssUpdate = "115502ea" %}
<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BetterThumbs :: Cache Files</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/extensions/vendor/cdowdy/betterthumbs/css/betterthumbs.{{ cssUpdate }}.min.css">
    <link rel="stylesheet" href="/extensions/vendor/cdowdy/betterthumbs/css/magnific-popup.css">
    <!-- need to use a CDN since bolt uses a fragile version strategy -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script src="/extensions/vendor/cdowdy/betterthumbs/js/jquery.magnific-popup.min.js"></script>
    <script src="/extensions/vendor/cdowdy/betterthumbs/js/betterthumbs.{{ jsUpdate }}.min.js"></script>
</head>
{#use bolt twig function to get the proper dashboard path #}
<body class="" data-bolt-path="{{ path('dashboard') }}">
<header class="ext-docs-masthead ext-docs-header-container ">
    <div class="ext-docs-header-title">
        <h1><a href="{{ path('dashboard') }}">Bolt Admin</a></h1>
    </div>
    <div class="ext-docs-header-title">
        <h2>BetterThumbs Prime Cache</h2>
    </div>
</header>

<main>
    <div class="ext-docs-grid-container">
        <div class="small-12 columns">
            <h1 class="heading">Prime The Image Cache</h1>
        </div>
    </div>

    <div id="prime-grid" class="row ">
        {% for obj, key in allFiles %}
            <div class="medium-4 columns">
                <div class="betterthumbs-card">
                    <div class="betterthumbs-card-divider">
                        <p>{{ key.filename }}</p>
                    </div>
                    <!-- /.betterthumbs-card-divider -->
                    <div class="img-container">
                        {% if key.mimeType != 'image/tiff' %}
                        <a href="/files/{{ key.imagePath }}"
                           class="image-popup-fit-width"
                           title="Preview: {{ key.filename }}">
                            <img src="/files/{{ key.imagePath }}"
                                 alt=""
                                 id="{{ key.filename }}"
                                 class="prime-cache-img">
                        </a>
                        {% else %}
                            <p style="color: #fff">Tif Images Cannot Be Displayed In a Browser</p>
                        {% endif %}
                    </div>

                    <!-- /.img-container -->
                    <div class="betterthumbs-card-section">
                        <ul class="betterthumbs-card-list">
                            <li>
                                <strong>Name:</strong> {{ key.filename }}
                            </li>
                            <li>
                                <strong>Location:</strong> {% if key.located %}{{ key.located }}{% else %}Files{% endif %}
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.betterthumbs-card -->
            </div>
            <!-- /.medium-4 columns -->

            <div class="medium-8 columns prime-cache-container">
                <div class="betterthumbs-card">
                    <div class="betterthumbs-card-divider">
                        <p>Prime Cache Settings For: {{ key.filename }}</p>
                    </div>

                    <form method="POST" id="{{ key.filename }}-{{ loop.index }}">
                        <!-- extension config settings dropdown -->
                        <fieldset class="row fieldset">
                            <div class="medium-8 columns select-container">
                                <label>Choose a Config
                                    <select class="prime-cache-dropdown"
                                            id="{{ key.filename }}-{{ loop.index }}"
                                            name="{{ key.filename }}-{{ loop.index }} "
                                            aria-describedby="helptext-{{ key.filename }}-{{ loop.index }}">
                                        {% for value in extConfig %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <p id="helptext-{{ key.filename }}-{{ loop.index }}" class="help-text">
                                    choose a betterthumbs config to generate your images
                                </p>
                            </div>
                            <div class="medium-4 columns">
                                <button class="button prime-cache prime-config" type="button"
                                        data-bthumb-name="{{ key.imagePath }}" >
                                    Create Config images
                                </button>
                            </div>
                        </fieldset>
                        <!-- extension config settings dropdown -->
                        <!-- preset config settings button -->
                        <fieldset class="row fieldset">
                            <div class="medium-8 columns">
                                <p for="preset-{{ key.filename }}-{{ loop.index }}" class="text-right middle">Preset
                                    Settings</p>
                                <p id="helptext-preset-{{ key.filename }}-{{ loop.index }}" class="help-text">
                                    use the betterthumbs presets to generate images
                                </p>
                            </div>
                            <div class="medium-4 columns">
                                <button type="button"
                                        class="button prime-cache prime-presets"
                                        data-presets="presets"
                                        id="preset-{{ key.filename }}-{{ loop.index }}"
                                        aria-describedby="helptext-preset-{{ key.filename }}-{{ loop.index }}"
                                        data-bthumb-name="{{ key.filename }}" >Use Presets</button>
                            </div>
                        </fieldset>
                        <!-- preset config settings button -->
                        <!-- Single Image config input and button -->
                        <fieldset class="row fieldset">
                            <div class="small-12 columns">
                                <label>
                                    Single Image
                                    <input type="text"
                                           class="prime-cache-single-input"
                                           placeholder="Single Image Config Name">
                                </label>
                                <p class="prime-single-error" hidden>
                                    <strong>Enter A Config Name Before Submitting</strong>
                                </p>
                                <p id="helptext-single-{{ key.filename }}-{{ loop.index }}" class="help-text">
                                    Enter the single config name you wish to use
                                </p>
                            </div>
                            <div class="small-12 columns">
                                <button type="button"
                                        class="button prime-cache prime-single"
                                        aria-describedby="helptext-single-{{ key.filename }}-{{ loop.index }}"
                                        data-bthumb-type="single"
                                        data-bthumb-name="{{ key.filename }}" >Create Single Image</button>
                            </div>
                        </fieldset>
                        <!-- Single Image config input and button -->
                    </form>
                </div>
            </div>
            <!-- /.mediium-8 .columns -->
            <hr>
        {% endfor %}
    </div><!-- /#prime-grid -->

</main>
<script>
    $('.image-popup-fit-width').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        image: {
            verticalFit: false
        }
    });
</script>
</body>
</html>