{% set jsUpdate = '6838d939'  %}
<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BetterThumbs Files</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/extensions/vendor/cdowdy/betterthumbs/css/betterthumbs.css">
    <script src="{{ asset('js/jquery-2.2.4.min.js', 'bolt') }}"></script>
    <script src="/extensions/vendor/cdowdy/betterthumbs/js/betterthumbs.{{ jsUpdate }}.min.js"></script>
</head>
<body class="">
<header class="ext-docs-masthead ext-docs-header-container ">
    <div class="ext-docs-header-title">
        <h1><a href="{{ paths.bolt }}">Bolt Admin</a></h1>
    </div>
    <div class="ext-docs-header-title">
        <h2>BetterThumbs Files</h2>
    </div>
</header>

<main>
    <div class="ext-docs-grid-container">
        {% if cachedImage %}
        <div class="small-12 columns">
            <h1 class="heading">Delete All Images From The BetterThumbs Cache</h1>
            <button type="button" data-all="{{ allFiles }}"
                    class="button delete-all">Delete All Images </button>
        </div>
    </div>

    <div class="ext-docs-grid-container">
        <div class="small-12 columns">
            <h1 class="heading">Delete An Image From Cache</h1>
        </div>

        <div id="image-grid" class="small-up-1 medium-up-2 large-up-3">
            {% for key, value in cachedImage %}
            <div id="cachedImage-{{ loop.index }}" class="column column-block image-container">
                <div class="betterthumbs-card">
                    <div id="container" class="img-container">
                        <img id="{{ key }}-{{ loop.index }}"
                             class="image-to-delete"
                             src="/files/{{ key }}"
                             alt="{{ value.name }}">
                    </div>
                    <div class="betterthumbs-card-section">
                        <ul class="betterthumbs-card-list">
                            <li class="cached-image-name">
                                <strong>Name: </strong> {{ value.name }}
                            </li>
                        </ul>
                        <button class="button deletebutton"
                                type="button"
                                id="{{ value.path }}">
                            Delete Image
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> <!-- /#image-grid .small-up-1 -->
        {% else %}
        <div class="small-12 columns">
            <h1 class="heading">No Images Found In The Better Thumbs Cache...</h1>
        </div>
    {% endif %}
    </div><!-- /.ext-docs-grid-container -->
</main>

</body>
</html>